* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
}
.secaoPrincipal {
  width: 200px;
  height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px lightgrey;
}

.containerTituloLogo {
  width: 200px;
  display: flex;
  justify-content: center;
  font-size: 13px;
}

.logo {
  border-radius: 4px;
  margin-right: 4px;
}

.containerInput {
  margin-top: 4px;
}

.inputTexto {
  width: 160px;
  padding: 1px 3px;
  outline: none;
}

.containerBotoes {
  width: 160px;
  padding: 5px 0;
  margin-top: 1px;

  display: flex;
  justify-content: space-between;
}

.containerBotoesAdicionais {
  width: 160px;
  padding: 0 0 5px 0;
  margin-top: 1px;

  display: flex;
  justify-content: space-between;
}

.botao {
  width: 48%;
  padding: 3px;
  border-radius: 3px;
  border: solid 1px #4c4c4d;
  cursor: pointer;
}

.containerResultado {
  width: 100%;
  text-align: center;
}

.resultado {
  width: 160px;
  height: 55px;
  text-align: initial;
  resize: none;
  background-color: #f3f3f3;
  cursor: text;
}

.containerSite {
  text-align: center;
}
