* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
}

.secaoPrincipal {
  width: 200px;
  height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px lightgrey;
}

.containerTituloLogo {
  width: 200px;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  font-size: 13px;
}

.logo {
  border-radius: 4px;
  margin-right: 4px;
}

.containerInput {
  margin-top: 4px;
}

.inputTexto {
  width: 160px;
  padding: 1px 3px;
  outline: none;
}

.containerBotoes {
  width: 160px;
  padding: 5px 0;
  margin-top: 1px;

  display: flex;
  justify-content: space-between;
}

.containerBotoesAdicionais {
  width: 160px;
  padding: 0 0 5px 0;
  margin-top: 1px;

  display: flex;
  justify-content: space-between;
}

.botao {
  width: 48%;
  padding: 3px;
  border-radius: 3px;
  border: solid 1px #4c4c4d;
  cursor: pointer;
}

.containerResultado {
  width: 100%;
  text-align: center;
}

.resultado {
  width: 160px;
  height: 45px;
  text-align: initial;
  resize: none;
  background-color: #f3f3f3;
  cursor: text;
}

.containerSite {
  text-align: center;
}

/* DARK MODE */

.mode {
  display: flex;
  justify-content: end;
  margin: 0 4px 4px 0;
}

.mode img {
  cursor: pointer;
  transition: 0.3s;
}

body.dark-mode {
  background-color: #141313;
  color: #e0e0e0;
}

body.dark-mode input,
body.dark-mode textarea {
  background-color: #1e1e1e;
  color: #f3f3f3;
  border: 1px solid #333;
}

body.dark-mode button {
  background-color: #333;
  color: #f3f3f3;
}

body.dark-mode a {
  color: #8ab4f8;
}

body.dark-mode .mode img {
  filter: invert(1);
}
